@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

@-moz-document
  /* bookmarks sidebar */ url(chrome://browser/content/bookmarks/bookmarksPanel.xul),
  /* bookmarks manager */ url(chrome://browser/content/places/places.xul),
  /* history sidebar   */ url(chrome://browser/content/history/history-panel.xul),
  /* scrapbook sidebar */ url(chrome://scrapbook/content/scrapbook.xul)

{
treechildren::-moz-tree-cell-text  {font-family: "ProFontWindows" !important;}

/* base style */
  treechildren::-moz-tree-cell,
  treechildren::-moz-tree-cell-text,
  treechildren::-moz-tree-twisty,
  treechildren::-moz-tree-image,
  treechildren::-moz-tree-row,
  treechildren::-moz-tree-indentation,
  treechildren::-moz-tree-column,
  treechildren::-moz-tree-line,
  treechildren::-moz-tree-separator/*,
  treechildren::-moz-tree-progressmeter,
  treechildren::-moz-tree-drop-feedback,
  treechildren::-moz-tree-checkbox*/
  {line-height: 10!important; font-size:inherit!important; padding: 0!important;
    margin: 0!important;border: none !important;outline: none !important;
/*    background : transparent !important;
*/
    list-style : none !important;

    height     : auto !important; width     : auto !important;
    min-height : 0    !important; min-width : 0    !important;
    max-height : none !important; max-width : none !important;
  }

  /* line art */
  treechildren::-moz-tree-line,
  treechildren::-moz-tree-separator  { border: 1px dashed !important; }
  treechildren::-moz-tree-separator  { border-width: 0 0 1px 0 !important; }



  /* colors (dark scheme) */

  treechildren { background: #3e3239 !important; }
  treechildren::-moz-tree-row(odd ) { background: 4a4247 !important; }
  treechildren::-moz-tree-cell-text { color: #90A6A8 !important; }
  treechildren::-moz-tree-line,
  treechildren::-moz-tree-separator  { border-color: #90A6A8 !important; }


  treechildren::-moz-tree-row(focus, selected, current),
  treechildren::-moz-tree-row(focus, selected, odd),
  treechildren::-moz-tree-row(focus, selected, even)
    { background: #4a4247 !important; }
  treechildren::-moz-tree-cell-text(focus, selected, current) { color       : #8A627A !important; }
  treechildren::-moz-tree-separator(focus, selected, current) { border-color: #4a4247 !important; }



  /* smaller text */
  treechildren::-moz-tree-cell-text { font-size: 9px !important; }
  treechildren::-moz-tree-row       { height: 1.1em !important; }

  /* arrows next to expandable nodes */
  treechildren::-moz-tree-twisty
  {
    /* two 9x9 arrows */
    list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA\    ABIAAAAJBAMAAADN8WE8AAAALHRFWHRDcmVhdGlvbiBUaW1lAFdlZCAxNCBNYXIgMjA\    wNyAxNDo0NjozNiAtMDYwMD9sNxAAAAAHdElNRQfXAw4UAAKRseFUAAAACXBIWXMAAA\    7CAAAOwgEVKEqAAAAABGdBTUEAALGPC%2FxhBQAAAAlQTFRF985j%2F%2F%2F%2FAAA\    AVCMuXwAAAAF0Uk5TAEDm2GYAAAAwSURBVHjaY2AQYIABQThLCC4opMjAKAgEQJaSAB\    ADCZAYA6OSIkwdmADrZQQRMK0AY4ACQxxE83AAAAAASUVORK5CYII%3D") !important;

    width      : 9px   !important;
    min-height : 9px   !important;
    padding    : 0 1px !important;
  }
  treechildren::-moz-tree-twisty(closed) { -moz-image-region: rect(0 9px 9px 0  ) !important; }
  treechildren::-moz-tree-twisty(open  ) { -moz-image-region: rect(0 9px 9px 9px) !important; }

  /* parents */
  treechildren::-moz-tree-cell { width: 0 !important; }

  /* lines beside children */
  treechildren::-moz-tree-line { padding-right: 2px !important; }
  treechildren::-moz-tree-indentation { width: 8px !important; }

  /* icons (folders, favicons, default document icons) */
  treechildren::-moz-tree-image { width: 0 !important; }

} /* 20090804 */
