:root {
    --main-bg-color: #e2e2e1;
    --secondary-bg-color: silver;
    --border-color: #817eab;
    --icons-1: #827fad;
    --icons-2: #9bb3b1;
    --icons-3: #bb8cb5;
    --icons-4: #a6d169;
}

#PanelUI-popup *{
    resize: both !important;
}

/*@OVERALL white white white white white white white white white white white white white***/
* {
    transition: all ease .40s !important;
}

window {
    font-family: roboto !important;
}

/*
#main-window[sizemode="maximized"] window,
#main-window[sizemode="maximized"] #toolbar-menubar,
#main-window[sizemode="maximized"] #titlebar,
#main-window[sizemode="maximized"] #nav-bar,
#main-window[sizemode="maximized"] #searchbar>.searchbar-textbox,
#main-window[sizemode="maximized"] #urlbar, 
#main-window[sizemode="maximized"] #TabsToolbar,
#main-window[sizemode="maximized"] #navigator-toolbox {
    background: darkgray !important;
}*/



#TabsToolbar,
#navigator-toolbox {
    background: var(--main-bg-color) !important;
}

/*@MINMAXCLOSE*/
#titlebar-buttonbox-container {
    height: 10px !important;
    margin: 6px 0px 0px 0px !important;
    transform: scale(.9);

}

#titlebar-min {
    list-style-image: none !important;
    background: #dbcabf !important;
    border-radius: 100%;
    transform: scalex(.5);
    margin-right: -10px !important;
    opacity: .5
}

#titlebar-max {
    list-style-image: none !important;
    background: #d59fa8 !important;
    border-radius: 100%;
    margin-right: -10px !important;
    transform: scalex(.5);
    opacity: .5
}

#titlebar-close {
    list-style-image: none !important;
    background: #ba5f93 !important;
    border-radius: 100%;
    transform: scalex(.5);
    opacity: .5
}

#titlebar-min:hover {
    background: #dbcabf !important;
    border-radius: 20%;
    opacity: 1
}

#titlebar-max:hover {
    background: #d59fa8 !important;
    border-radius: 20%;
    opacity: 1
}

#titlebar-close:hover {
    background: #ba5f93 !important;
    border-radius: 20%;
    opacity: 1
}

/**@TABS** white white white white white white white white white white white white white */
/**tabsTooltips**/

#TabsToolbar .tabbrowser-tab:after,
#TabsToolbar .tabbrowser-tab:before {
    display: none;
}

#TabsToolbar {
    height: 30px !important;
    margin: -1px 0px -6px 0px !important;
}

#tabbrowser-tab-tooltip {
    display: none !important;
}

.tabbrowser-tab:before {
    pointer-events: none;
    content: attr(label) !important;
    z-index: 0 !important;
    display: block !important;
    background: var(--main-bg-color) !important;
    color: var(--icons-1) !important;
    opacity: 0 !important;
    width: auto !important;
    overflow: hidden;
    max-width: 230px !important;
    padding: 0px 5px !important;
    margin-top: 49px !important;
    position: fixed !important;
    border: 0px solid var(--border-color) !important;
    transition: all ease .48s;
    margin-left: -5px !important;
    max-height: 0px;
}

.tabbrowser-tab:hover::before {
    content: attr(label) !important;
    z-index: 40 !important;
    display: block !important;
    font-family: Roboto !important;
    opacity: 1 !important;
    transition: all ease-in .37s;
    max-height: 100px;
    padding: 2px 5px !important;
    border: 4px solid var(--border-color) !important;
    border-top: transparent !important;
    border-radius: 0px 0px 4px 4px;
}

.tabbrowser-tab[selected="true"]:hover::before {
    background: -webkit-linear-gradient(var(--main-bg-color), var(--secondary-bg-color)) !important;
    content: '.::'attr(label) '::.' !important;
    transition: all .37s;
}


window#main-window vbox#titlebar {
    margin-top: -5px !important;
    height: 0px !important;
}

/*tabsize*/
.tab-label-container{
    display: none !important;
}
.tabbrowser-tab *{
    background-image: none !important;
    border-radius: 0px !important;
    border: 0px !important;
    padding: 0px !important;
}


/*comment these lines to have normal tab width*/
.tab-background,
.tabbrowser-tab{
    min-width: 25px !important;
    max-width: 25px !important;
    height: 25px !important;
    max-height: 25px !important;
    min-height: 25px !important;
    margin: 0px 8px 0px -5px !important;
}
.tabbrowser-tab:not([pinned]):not([fadein]) {
display: none}


/*restore empty favicon*/
.tab-icon-image:not([src]):not([pinned]) {
    display: block !important;
}

.tab-throbber:not([busy]),
.tab-throbber[busy]+.tab-icon-image:not([src]):not([pinned]) {
    display: none !important;
}

#tabbrowser-tabs tab .tab-close-button {
    display: none !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-image {
    height: 15px;
    width: 15px;
}

.tab-icon-image {
    filter: grayscale(1) contrast(.1) sepia(1) hue-rotate(120deg) saturate(.23) brightness(.86) contrast(5);
    opacity: 1 !important;
    transition: all .37s;
}

.tabbrowser-tab:hover .tab-icon-image,
.tab-icon-image[selected="true"] {
    filter: none;
    transition: all ease .53s;
}

#TabsToolbar .tabbrowser-tab {
    border: none !important;
    border-radius: 0px !important;
    background: transparent !important;
    color: transparent !important;
}


#TabsToolbar .tab-background-start,
#TabsToolbar .tab-background-end {
    display: none !important;
}

#TabsToolbar .tab-background-middle {
    margin: -4px -2px !important;
    background: transparent !important;
}


/*Remove tab scrolling*/
.scrollbutton-up,
.scrollbutton-down,
#alltabs-button {
    display: none !important;
}

/***Change lil icons aroundthe place***/
/*Change the throbber*/
.tabbrowser-tab .progress-bar {
    display: none !important;
}

.tab-throbber[busy],
.tab-throbber[progress] {
    filter: contrast(1) sepia(1) brightness(.5) hue-rotate(280deg) saturate(3);
    margin-left: 4px;
    list-style-image: url("https://media.giphy.com/media/OJVQOfitCNNkI/giphy.gif") !important;
}

/*=NEWTAB button=*/
.tabs-newtab-button,
#new-tab-button {
    width: 30px !important;
    height: 25px !important;
    list-style-image: none !important;
    opacity: .4;
    background: none !important;
    transition: all ease .45s
}

.tabs-newtab-button:hover,
#new-tab-button:hover {
    opacity: 1;
    transition: all ease .45s
}

.tabs-newtab-button:after,
#new-tab-button:after {
    content: 'â¤';
    display: block;
    background: white;
    width: 30px !important;
    height: 30px !important;
    border: 1px dashed var(--icons-1);
    border-radius: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    color: var(--icons-3) !important;
    position: absolute;
    transform: scale(.6);
}




/*@NAVBAR white white white white white white white white white white white white white*/
#urlbar,
.searchbar-textbox {
    border: none !important;
    box-decoration-break: none !important;
    color: var(--icons-2) !important;
}

#addon-bar,
#PersonalToolbar,
#nav-bar {
    background: #EAF2FA !important;
    box-shadow: none !important;
    background-clip: padding-box !important;
    border-color: rgba(0, 0, 0, .0) !important;
    border-radius: 0 !important;
}

.subviewbutton.panel-subview-footer {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

#titlebar:not(:hover) #nav-bar,
#nav-bar {
    height: 1px !important;
    min-height: 4px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    transition: all .37s;
}

#main-window:hover+#nav-bar,
#TabsToolbar:hover+#nav-bar,
#nav-bar:hover,
#nav-bar:focus,
#nav-bar:active {
    height: 27px !important;
    opacity: 1 !important;
    transition: all .37s !important;
}

#searchbar>.searchbar-textbox,
#urlbar {
    /*! border: 1px solid #18052E !important; */
    text-align: center !important;
    background: var(--main-bg-color) !important;
    margin-top: 0px !important;
    margin-left: 5px !important;
    border-radius: 0px;
    padding: 0px !important;
    /*! color: black!important; */
    max-height: 27px;
    min-height: 18px;
}

#nav-bar {
    max-height: 27px;
    min-height: 18px;
    background: var(--main-bg-color) !important;
    border-bottom: 4px solid var(--border-color) !important;
    border-top: 0px solid var(--border-color) !important;
    margin-bottom: -1px !important;
    margin-top: 1px !important;
    border-left: none !important;
    border-right: none !important;
    margin-right: 1px !important;
    margin-left: 1px !important;
}



/*toolbar colors*/

.toolbarbutton-1 {
    fill: var(--icons-1) !important;
}

/****MENU ON LEFT****/
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow,
#ctr_panelui-button,
#wrapper-ctr_panelui-button {
    -moz-box-ordinal-group: 0
}

#PanelUI-button {
    background-position: 100% 0, calc(100% - 1px) 0, calc(100% - 2px) 0;
}



#identity-box,
#identity-icon,
#tracking-protection-icon,
#connection-icon {
    fill: var(--icons-4) !important;
}

#file-menu,
#edit-menu,
#view-menu,
#history-menu,
#bookmarksMenu,
#tools-menu,
#helpMenu,
.tab-line,
.tab-text,
inactive-tab-linetext1,
.tab-text:not([selected]),
#identity-box #identity-icon-label,
#identity-box #identity-icon-country-label,
#urlbar .textbox-input-box,
#urlbar-zoom-button,
#personal-bookmarks .menu-iconic-text,
#personal-bookmarks .toolbarbutton-text,
#zoom-reset-button .toolbarbutton-text,
#searchbar .textbox-input-box {
    color: var(--icons-2) !important;
}

#downloads-button[attention="success"]>#downloads-indicator-anchor>#downloads-indicator-icon,
#downloads-button[attention="success"]>#downloads-indicator-anchor>#downloads-indicator-progress-outer {
    filter: brightness(1.5) sepia(1) hue-rotate(-80deg) saturate(1.3) brightness(.86);
}

/* ------------ Contextmenu Tweaks ------------ */

#context-pocket,
#context-sep-sendpagetodevice,
#context-sendpagetodevice,
#context-sep-viewsource,
#context-viewsource,
#context-viewinfo {
    display: none !important;
}
